:root { --header-color: #666; }


/* display: flex; justify-content: center; gap: 20px; margin-top: 20px;  */
.social { display: flex; justify-content: center; }
.social a { display: flex; justify-content: center; flex-basis: unset; flex-grow: unset; } /* 왜 unset으로 하면 내가 원하는대로 작동할까? */
.social a i { display: inline-block; font-size: 1.8rem; }

.suB_m.mm-listview > .mm-listitem::after { inset-inline-start: 10px;}

.download { width: 90%; border: none; margin: 20px auto; }
.pdfDownload {padding: 30px 0; background: #ffcc00; display: flex; justify-content: center; border: none; font-size: 18px; font-weight: 700; }
.download.mm-listitem::after { border-bottom: none; display: none; position: none;}
/* content: ""; border-color: inherit; border-bottom-width: 1px; border-bottom-style: solid; display: block; position: absolute; inset-inline-start: 20px; inset-inline-end: 20px; bottom: 0 */